# Series

In [22]:
import numpy as np
import pandas as pd

to create a series, you can convert many object types to a series.
here, we will create different object types.

In [23]:
labels = ['a','b','c']
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10,'b':20,'c':100}

here, we will convert the objects of different object types to series. 
a series differentiates from a normal numpy array in how the series has 
index labels that go along with them.

In [24]:
pd.Series(labels)

0    a
1    b
2    c
dtype: object

In [25]:
pd.Series(my_list)

0    10
1    20
2    30
dtype: int64

In [26]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [27]:
pd.Series(d)

a     10
b     20
c    100
dtype: int64

when creating a series, the index can also be set to be labels. here, we set 
the index equal to the labels list

In [28]:
pd.Series(my_list, index=labels)

a    10
b    20
c    30
dtype: int64

you can pass in the list without being specific that index=labels

In [29]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

you can also pass in functions into the series. it will not cause an error.
pandas series are quite flexible.

In [30]:
pd.Series([sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

this is how to use an index with a pandas series. you do this through an indexed call.

In [32]:
ser1 = pd.Series([1, 2, 3, 4], index = ['USA', 'CHINA', 'FRANCE', 'GERMANY'])
ser1

USA        1
CHINA      2
FRANCE     3
GERMANY    4
dtype: int64

In [34]:
ser2 = pd.Series([1, 2, 3, 4], index = ['USA', 'CHINA', 'ITALY', 'JAPAN'])
ser2

USA      1
CHINA    2
ITALY    3
JAPAN    4
dtype: int64

In [37]:
ser1['USA']

1

this shall add up indexes where there is a match

In [36]:
ser1 + ser2

CHINA      4.0
FRANCE     NaN
GERMANY    NaN
ITALY      NaN
JAPAN      NaN
USA        2.0
dtype: float64